<%= content_for :page_title, t("fleet_vehicles.edit.title") %>

<div class="bg-container rounded-xl shadow-border-xs p-4 max-w-2xl mx-auto">
  <%= render "form", fleet_vehicle: @fleet_vehicle %>
</div>
